.left{
  width: 40%;
  background-color: #d0cecf;
  padding-left: 5%;
  padding-bottom: 10%;
}
.right{
  width: 60%;
  background-color: white;
  padding-left: 3%;
}
body{
  display: flex;
  background-color: #a0a19c;
}
